<div class='row'>
    <h4><%= @hive.nickname %></h4>
    <p><strong>started:</strong> <%= @hive.creation_date %></p>
    <p><strong>from:</strong> <%= @hive.creation_method %></p>
    <p><strong>breed:</strong> <%= @hive.breed %></p>
    <p><strong>hive type:</strong> <%= @hive.hive_type %></p>
    <p><strong>supers:</strong> <%= @hive.supers%></p>
    <p><strong>location:</strong> <%= @hive.location %></p>
    <p><strong>notes:</strong> <%= @hive.notes %></p>
</div>


