<div class='row'>
<%= link_to "&larr; back".html_safe, hives_path %>
    <h4><%= @hive.nickname %></h4>
    <p><strong>creation date:</strong> <%= @hive.creation_date %></p>
    <p><strong>creation method:</strong> <%= @hive.creation_method %></p>
    <p><strong>breed:</strong> <%= @hive.breed %></p>
    <p><strong>hive type:</strong> <%= @hive.hive_type %></p>
    <p><strong>supers:</strong> <%= @hive.supers%></p>
    <p><strong>notes:</strong> <%= @hive.notes %></p>
    <p><strong>location:</strong> <%= @hive.location %></p>
    <%= link_to 'inspections', %>
</div>