<div style='text-align: center' class='row'>
  <h2 ><%= @hive.nickname %></h2>
  <b>started:</b>
  <%= @hive.creation_date %>
  <b>from:</b>
  <%= @hive.creation_method %>
  <b>breed:</b>
  <%= @hive.breed %>
  <b>hive type:</b>
  <%= @hive.hive_type %><br>
  <%= @hive.notes %>
</div>
<div class='inspection-graphs center'>
  <span>
    <p>temperament</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>laying pattern</p>
    <canvas id="canvas2" width="150" height="100"></canvas>
  </span>
  <span>
    <p>uncapped brood</p>
    <canvas id="canvas3" width="150" height="100"></canvas>
  </span>
  <span>
    <p>capped brood</p>
    <canvas id="canvas4" width="150" height="100"></canvas>
  </span>
</div>
<div class='inspection-graphs center'>
  <span>
    <p>population</p>
    <canvas id="canvas5" width="150" height="100"></canvas>
  </span>
  <span>
    <p>drone population</p>
    <canvas id="canvas6" width="150" height="100"></canvas>
  </span>
  <span>
    <p>drone cells</p>
    <canvas id="canvas7" width="150" height="100"></canvas>
  </span>
  <span>
    <p>honey</p>
    <canvas id="canvas8" width="150" height="100"></canvas>
    </span>
</div>
<div class='inspection-graphs center'>
  <span>
    <p>nectar</p>
    <canvas id="canvas9" width="150" height="100"></canvas>
    </span>
  <span>
    <p>pollen</p>
    <canvas id="canvas10" width="150" height="100"></canvas>
    </span>
  <span>
    <p>temp</p>
    <canvas id="canvas11" width="150" height="100"></canvas>
    </span>
  <span>
    <p>wind speed</p>
    <canvas id="canvas12" width="150" height="100"></canvas>
    </span>
</div>
<ul>
  <div class='center' id='i-title'>
    <h4 style='display: inline'>inspections</h4>
    <p><%= link_to "add new inspection", new_hive_inspection_path(@hive) %></p>
  </div>
  <div class='center'>
  <table class="table task-table">
    <thead>
      <th>inspection date</th>
      <th>edit</th>
      <th>delete</th>
      <th>notes</th>
    </thead>
    <tbody>
      <% @hive.inspections.each do |i| %>
        <li>
          <td><%= link_to "#{i.inspection_date}", [@hive, i] %></td>
          <td>
            <%= link_to edit_hive_inspection_path(@hive, i) do %>
            <i class="material-icons">assignment</i>
            <% end %>
          </td>
          <td>
            <%= link_to [@hive, i], method:'delete' do %>
            <i class="material-icons">assignment_late</i>
            <% end %>
          </td>
          <td><%= "#{i.notes}" %></tr>
        </li>
      <% end %>
    </tbody>
  </table>
 </ul>
