<div style='text-align: center' class='row'>
  <h2><%= @hive.nickname %></h2>
  <b>started:</b> <%= @hive.creation_date %>
  <b>from:</b> <%= @hive.creation_method %>
  <b>breed:</b> <%= @hive.breed %>
  <b>hive type:</b> <%= @hive.hive_type %>
</div>
<div id='inspection-graphs'>
  <span>
    <p>temperment</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>laying pattern</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>uncapped brood</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>cappred brood</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>population</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>drone population</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>drone cells</p>
    <canvas id="canvas" width="150" height="100"></canvas>
  </span>
  <span>
    <p>honey</p>
    <canvas id="canvas" width="150" height="100"></canvas>
    </span>
  <span>
    <p>nectar</p>
    <canvas id="canvas" width="150" height="100"></canvas>
    </span>
  <span>
    <p>pollen</p>
    <canvas id="canvas" width="150" height="100"></canvas>
    </span>
  <span>
    <p>temp</p>
    <canvas id="canvas" width="150" height="100"></canvas>
    </span>
  <span>
    <p>wind speed</p>
    <canvas id="canvas" width="150" height="100"></canvas>
    </span>
</div>
<ul>
  <h4>inspections</h4>
  <% @hive.inspections.each do |i| %>
    <li>
      <%= link_to "#{i.inspection_date}", [@hive, i] %>
      <%= "notes: #{i.notes}" %>
    </li>
  <% end %>
 </ul>

