<div class='row'>
    <h4><%= @inspection.inspection_date %></h4>
    <p><b>weather:</b> <%= @inspection.weather_main %></p>
    <p><b>temp:</b> <%= @inspection.temp %></p>
    <p><b>wind speed:</b> <%= @inspection.wind_speed %></p>
    <p><b>temperament:</b> <%= @inspection.temperment %></p>
    <p><b>laying_pattern:</b> <%= @inspection.laying_pattern %></p>
    <p><b>uncapped_brood:</b> <%= @inspection.uncapped_brood %></p>
    <p><b>capped_brood:</b> <%= @inspection.capped_brood %></p>
    <p><b>population:</b> <%= @inspection.population %></p>
    <p><b>drone_population:</b> <%= @inspection.drone_population%></p>
    <p><b>drone_cells:</b> <%= @inspection.drone_cells %></p>
    <p><b>honey:</b> <%= @inspection.honey %></p>
    <p><b>nectar:</b> <%= @inspection.nectar %></p>
    <p><b>pollen:</b> <%= @inspection.pollen %></p>
    <p><b>syrup:</b> <%= @inspection.syrup %></p>
    <p><b>pollen_sub:</b> <%= @inspection.pollen_sub %></p>
    <p><b>medicine:</b> <%= @inspection.medicine %></p>
    <p><b>add_super:</b> <%= @inspection.add_super %></p>
    <p><b>re_queen:</b> <%= @inspection.re_queen %></p>
    <p><b>queen:</b> <%= @inspection.queen %></p>
    <p><b>eggs:</b> <%= @inspection.eggs %></p>
    <p><b>queen_cells:</b> <%= @inspection.queen_cells %></p>
    <p><b>notes:</b> <%= @inspection.notes %></p>
</div>


